modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["unzip"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxycmd0cmhua3ppd21wdWZuc2V0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwODYzMjcsImV4cCI6MjA4MjY2MjMyN30.R6bf2h8y0Pi7MjD79OOdM5byGG1lLKK9n7epp0nB0_w"
VITE_SUPABASE_URL = "https://lrrgtrhnkziwmpufnset.supabase.co"
SUPABASE_URL = "https://lrrgtrhnkziwmpufnset.supabase.co"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxycmd0cmhua3ppd21wdWZuc2V0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwODYzMjcsImV4cCI6MjA4MjY2MjMyN30.R6bf2h8y0Pi7MjD79OOdM5byGG1lLKK9n7epp0nB0_w"
SUPABASE_DATABASE_URL = "postgresql://postgres:Tassos%402024@db.lrrgtrhnkziwmpufnset.supabase.co:5432/postgres"
